<div class="row">

<div class="container">
  <br>
  <div class="col-md-4 offset-md-4">
    <div class="mb-3">
      <label for="gridSize" class="form-label">Enter grid size</label>
      <input type="number" [(ngModel)]="gridSize" class="form-control" id="gridSize">
    </div>
    
    <div class="d-grid gap-2 d-md-block">
      <button (click)="displayGrid()" class="btn app-btn btn-primary">Display grid</button>
      <button (click)="exportImage()" class="btn app-btn btn-secondary">Download as image</button>
    </div>
  </div>
  <br>
  <div class="col-md-6 offset-md-3">
    <div id="image" class="card">
      <div class="card-body">
        <div class="row" *ngFor="let row of grid">
          <div class="col" *ngFor="let col of row">
            <svg width="20" height="20"> <!-- width="400" height="110" -->
              <rect width="20" height="20" [attr.fill]="col"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
